//VARIABLES
$base-font: "Montserrat";
$second-font: "Roboto Slab";
$base-color: #009688;
$light-color: #b2dfdb;
$dark-color: #00796b;
$base-text: #212121;
$divider-color: #bdbdbd;

/************************
  STYLES
*************************/
body {
    font-family:$base-font, sans-serif;
    font-size:16px;
}
h1, h2, h3, h4, h5, h6 {
    font-family:$base-font, sans-serif;
}
#app-container {
  width: 100%;
  overflow: hidden;
}
#app-header {
  width: 100%;
  height: 80px;
  position: fixed;
  background-color: $base-color;
  text-align: center;
  z-index: 10;
  h1 {
	  line-height: 1.4;
	  margin: 0;
	  color: #fff;
	  font-weight: 700;
  }
  p {
	  color: #fff;
	  font-weight: 400;
	  margin-top: 0;
  }
}
#app-body {
  padding: 104px 0 24px;
  .list-group-item{
  	display: block;
  	padding-bottom: 1.5em;
  	h1{
  		font-size: 2em;
  		text-align: center;
  	}
  	h2{
  		font-family: $second-font, serif;
  		font-size: 2em;
  	}
  	p{
  		font-weight: 300;
  	}
  	img{
  		width: 100%;
  		max-width: 460px;
  		margin: 0 auto;
  		display: block;
  	}
  }
  .panel{
  	h4{
  		font-family: $second-font;
  		font-size: 1.5em;
  	}
  }
  form{
  	select, textarea, input{
  		display: block;
  		width: 100%;
  		padding: 4px;
  		border-radius: 3px;
  		margin-bottom: 10px;
  		border-color: $divider-color;
  	}
  	#submitBtn{
  		background-color: #009688;
    	color: #fff;
  	}
	}
}
#app-footer {
  width: 100%;
  min-height: 10vh;
  p {
	  margin: 0 auto;
	  width: 40%;
	  text-align: center;
	  padding-top: 1.5em;
	  border-top: 1px solid $divider-color;
	}
}
/*** Overwriting Bootstrap & Normalize styles ***/
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: $base-color;
}
.nav>li>a{
	color: $dark-color;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: $light-color;
}
html input[type=email], html input[type=text]{
	    border-style: solid;
	    border-width: 1px;
	    border-color: $divider-color;
}
button, html input[type=button], input[type=reset], input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer;
    border: none;
}
/*** Setting ng-styles for validation ***/
.ng-invalid.ng-dirty{
	border-color: #fa787e;
}
.ng-valid.ng-dirty{
	border-color: $base-color;
}