<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>	
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--[if IE]>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <![endif]-->
    <title>Smart Store | A Smartwatch Showcase</title>
	<!-- BOOTSTRAP CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700,100|Montserrat:400,700">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="app.min.css">
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body ng-controller="StoreCtrl as store">
  <div id="app-container">
    <header id="app-header">
      <h1 class="title">Smart Store</h1> 
      <p>A showcase of your favorite smartwatches!</p>
    </header><!-- /#app-header --> 

    <section id="app-body">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            <!-- Products Container -->
            <div class="list-group">
              <!-- Product Item -->
              <div class="list-group-item" ng-repeat="product in store.products">
                <div class="row">
                  <div class="col-xs-12">
                    <div ng-hide="{{product.soldOut}}">
                      <h1>{{product.name}}</h1>
                      <img ng-src="{{product.images[0].full}}"/>
                      <h2>{{product.price | currency}}</h2>
                      <section ng-controller="PanelCtrl as panel">
                        <ul class="nav nav-pills">
                          <li ng-class="{active: panel.isSelected(1)}"><a href="" ng-click="panel.selectTab(1)">Description</a></li>
                          <li ng-class="{active: panel.isSelected(2)}"><a href="" ng-click="panel.selectTab(2)">Specs</a></li>
                          <li ng-class="{active: panel.isSelected(3)}"><a href="" ng-click="panel.selectTab(3)">Reviews</a></li>
                        </ul><!-- /.nav-pills -->
                        <div class="panel" ng-show="panel.isSelected(1)">
                          <h4>Description</h4>
                          <p>{{product.description}}</p>
                        </div>
                        <div class="panel" ng-show="panel.isSelected(2)">
                          <h4>Specs</h4>
                          <ul>
                            <li>Product Size: {{product.specs[0].size}}</li>
                            <li>Product Weight: {{product.specs[0].weight}}</li>
                            <li>Color: {{product.specs[0].color}}</li>
                            <li>Water Resistance: {{product.specs[0].waterproof}}</li>
                            <li>Battery Life: {{product.specs[0].battery}}</li>
                          </ul>
                        </div>
                        <div class="panel" ng-show="panel.isSelected(3)">
                          <h4>Reviews</h4>
                          <blockquote ng-repeat="review in product.reviews">
                            <b>Stars: {{review.stars}}</b>
                            <p>"{{review.text}}"</p>
                            <cite>by: {{review.author}}</cite>
                          </blockquote>
                          <h4>Submit a review</h4>
                          <form action="" name="reviewForm">
                            <div class="row">
                              <blockquote>
                                <b>Stars: {{review.stars}}</b>
                                <p>"{{review.text}}"</p>
                                <cite>by: {{review.author}}</cite>
                              </blockquote>
                              <div class="col-xs-10 col-xs-offset-1">
                                <select ng-model="review.stars">
                                  <option value="1">1 star</option>
                                  <option value="2">2 stars</option>
                                  <option value="3">3 stars</option>
                                  <option value="4">4 stars</option>
                                  <option value="5">5 stars</option>
                                </select>
                              </div>
                              <div class="col-xs-10 col-xs-offset-1">
                                <textarea ng-model="review.text" placeholder="Write a short review of the smartwatch" ></textarea>
                              </div>
                              <div class="col-xs-10 col-xs-offset-1">
                                <input ng-model="review.author" type="email" placeholder="name@company.com" />
                              </div>
                              <div class="col-xs-10 col-xs-offset-1">
                                <input type="submit" value="Submit"/>
                              </div>
                            </div>
                          </form>
                        </div>
                      </section>
                      <button ng-show="{{product.purchase}}">Add to Cart</button>
                    </div>
                  </div>
                </div>                             
              </div><!-- /.list-group-item -->
            </div><!-- /.list-group --> 
          </div>
        </div>
        </div><!-- /.container --> 
    </section><!-- /#app-body -->

    <footer id="app-footer">
      <p>Gian Vera project on AngularJs.</p>
    </footer><!-- /#app-footer --> 
  </div><!-- /#app-container --> 

    
	
	<!-- ANGULARJS  -->
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
	<!-- CUSTOM SCRIPTS -->
    <script src="app.min.js"></script>
</body>
</html>